%% -*- erlang -*-

{sub_dirs, [
            "apps/game",
            "rel"
           ]}.

{erl_opts, [
            encrypt_debug_info, 
            fail_on_warning
           ]}.
{plugin_dir, ["deps/boss_db/priv/rebar"]}.
{plugins, [boss_db_rebar]}.
{boss_db_opts, [{model_dir, "src/model"}]}.
%%{require_otp_vsn, "r1603"}.

%% Example, uncomment to retrieve cowboy as a dep.
{deps,
   [
      {ranch, ".*", {git, "https://github.com/extend/ranch.git", "master"}},
      {lager,".*",  {git, "git://github.com/basho/lager.git","master"}},
      {luerl,".*",  {git, "git://github.com/rvirding/luerl.git","master"}},
      {ibrowse,".*",  {git, "git://github.com/cmullaparthi/ibrowse.git","master"}},
      {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
      {cowboy,".*",  {git, "git://github.com/extend/cowboy.git","master"}},
      {boss_db,".*",{git, "git://github.com/ChicagoBoss/boss_db.git","master"}},
      {resource_discovery,".*",{git, "git://github.com/erlware/resource_discovery.git", "master"}} ,
      {erlcron,".*",{git, "git://github.com/erlware/erlcron.git", "master"}},
      {sync,".*",{git, "git://github.com/rustyio/sync.git", "master"}}
    ]
}.
{cover_enabled, true}.